body{
	font-family: 'Open Sans';
	font-style: normal;
}

.mainbox{
    
    background-color: #F3F3F3;
    width: 80%;
    margin:30px;
    margin-right: auto;
    margin-left: auto;
    border:1px solid #ebebeb;
}
.mbti{
    text-align: left;
    display: inline-block;
    background-color: #FFFFFF;
    padding:10px;
    border-radius: 10px;
    max-block-size: 100px 100px;
}
.oneline{
    background-color: white;
    text-align: left;
    border-radius: 10px;
    max-block-size: 100px 100px;
    padding:20px;

}
.oneline div{
    margin-bottom: 6px;
}
.me{
    max-block-size: 100px 100px;
    padding-top:10px;
    padding-bottom: 10px;
    margin-top: 10px;
}
.me img{
    width: 8vw;
}
.portfolio{
    display: inline-block;
    padding:20px;
    text-align: center;
    background-color: #FFFFFF;
    max-block-size: 100px 100px;
    border-radius: 10px;
}
.portfolio div{
    margin-bottom: 7px;
}
.profile{
    flex-flow: row nowrap;
    display: flex;
    place-items: center;
    justify-content:space-between;
    padding: 10px;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 1vh;
    text-align: center;
    /* width: 80%; */
}

.contentInput{
    text-align: center;
    border-radius: 10px;
    /* margin: 16px; */
    /* margin-top: 16px; */
}
input{
    border-radius: 10px;
    border: none;
    /* height: 30px; */
    padding: 10px;
    text-align: center;
    font-size: 20px;
}
textarea{
    border-radius: 10px;
    padding: 10px;
    border:none;
    font-size: 14px;
    height: 250px;
}
::placeholder{
    color:#D9D9D9;
    font-family: 'Open Sans';
	font-style: normal;
}