body{
	font-family: 'Open Sans';
	font-style: normal;
    font-weight: 700;

}
.commentcontainer{
    margin: auto;
    padding: 0 30px 30px;
}
.comments{
    border-radius: 20px;
    padding: 20px;
    background-color: white;
}
.comment{
    border-radius: 20px;
    padding: 15px;
    background-color:#F3F3F3;
    margin-bottom: 20px;
}
.commentbtn{
    /* font-size: 10px; */
    background-color: #666666;
    border-radius: 5px;
    font-weight: 700;
    border: none;
    padding: 4px 8px;
    color: white;
}
.mine{
    background-color: #FDF6F0;
}
#mycomment{
    border: none;
    width: 95%;
    height: 30px;
    text-align: left;
    color:#888888;
	font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 700;
    background-color: #FDF6F0;
}

#addbtn{
    position: relative;
    left: 95%;
    background-color: #666666;
    border-radius: 5px;
    font-weight: 700;
    border: none;
    padding: 4px 8px;
    color: white;
}
.my{
    color: #888888;
}
.detail{
    /* margin: auto; */
    border-radius: 20px;
    width: 90%;
    padding: 30px;
    margin: auto;
    background-color: white;
}
.detail .title{
    /* padding: 10px; */
    font-size: 20px;
    color: #666666;
    margin-bottom: 10px;
}

.detail .url{
    font-size: 10px;
    margin-bottom: 10px;
    color: #666666;
}

.detail .date{
    font-size: 10px;
    margin-bottom: 5px;
    color: #888888;
}

.detailcontent{
    color: #888888;
    font-size: 18px;

}