body{
    background-color: #FDF6F0;
}
body{
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 700;
}
.my{
   color: #888888;
}

.mbti{
   text-align: left;
   display: inline-block;
   background-color: #FFFFFF;
   padding:10px;
   border-radius: 10px;
   max-block-size: 100px 100px;
}
.oneline{
   background-color: white;
   text-align: left;
   border-radius: 10px;
   max-block-size: 100px 100px;
   padding:20px;

}
.oneline div{
   margin-bottom: 6px;
}
.me{
   max-block-size: 100px 100px;
   padding-top:10px;
   padding-bottom: 10px;
   margin-top: 10px;
}
.me img{
   width: 8vw;
}
.portfolio{
   display: inline-block;
   padding:20px;
   text-align: center;
   background-color: #FFFFFF;
   max-block-size: 100px 100px;
   border-radius: 10px;
}
.portfolio div{
   margin-bottom: 7px;
}
.profile{
   flex-flow: row nowrap;
   display: flex;
   place-items: center;
   justify-content:space-between;
   padding: 10px;
   margin-left: 5vw;
   margin-right: 5vw;
   margin-top: 1vh;
   text-align: center;
   /* width: 80%; */
}

.contentInput{
   text-align: center;
   border-radius: 10px;
   margin-bottom: 25px;
   /* margin-top: 16px; */
}
.contentInput input{
   margin-bottom: 10px;
}
input{
   border-radius: 10px;
   border: none;
   /* height: 30px; */
   padding: 10px;
   text-align: center;
   font-size: 20px;
}
#contentdetail{
   border-radius: 10px;
   padding: 10px;
   border:none;
   font-size: 14px;
   font-family: 'Open Sans';
   height: 250px;
}
.contentabout::placeholder{
   color:#D9D9D9;
   font-family: 'Open Sans';
   font-style: normal;
}