header {
	text-align: right;
	height: 40px;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	margin-top: 20px;
}
.headersign {
	color: #fb9749;
}
header a:hover {
	color: #fb9749;
}
a {
	text-decoration: none;
	color: var(--text-color);
	margin-right: 3%;
}
.navbar {
	display: flex;
	background-color: #fdf6f0;
	height: 80px;
	width: 100%;
}
.navbar_logo {
	margin-left: 3%;
}
.navbar_menu li {
	height: 50px;
	width: 100px;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	text-align: center;
	margin-right: 30px;
	margin-top: 5%;
}
.navbar_menu {
	display: flex;
	list-style: none;
	margin: auto;
}
.navbar_menu li:hover {
	border-bottom: 3px solid black;
}
.signupForm {
	background: #f3f3f3;
	border-radius: 50px;
	width: 800px;
	margin: 60px auto;
	padding-top: 140px;
	padding-bottom: 30px;
}
.signupForm img {
	display: block;
	margin: auto;
	margin-bottom: 80px;
}

.nameinput,
.idinput,
.pwinput,
.pwCinput,
.emailinput,
.mbtiinput,
.introInput,
.activeinput {
	display: block;
	width: 30%;
	justify-items: center;
	width: 370px;
	background: #ffffff;
	border-radius: 10px;
	height: 50px;
	margin: auto;
	margin-bottom: 20px;
	border: none;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	text-indent: 50px;
	background-repeat: no-repeat;
	background-position: 15px center;
}
.nameinput {
	background-image: url('../img/nameIcon.svg');
	background-size: 25px;
}
.idinput {
	background-image: url('../img/idIcon.svg');
	background-size: 30px;
}
.pwinput,
.pwCinput {
	background-image: url(../img/pwIcon.svg);
	background-size: 22px;
}
.emailinput {
	background-image: url('../img/emailIcon.svg');
	background-size: 25px;
}
.registerbtn {
	display: block;
	width: 370px;
	height: 50px;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	text-align: center;
	color: #ffffff;
	background: #888888;
	border-radius: 10px;
	border: none;
	margin: auto;
	margin-bottom: 20px;
	cursor: pointer;
}

.gogo:hover,
.gogo:active {
	color: black;
}

.gogogo {
	text-align: center;
	color: #888888;
	margin-bottom: 0px;
	font-size: 15px;
	font-weight: 500;
}
.gogo:hover,
.gogo:active {
	color: black;
}
.meeting,
.select,
.feedback {
	margin: auto;
	width: 370px;
}
.meeting input[type='radio'],
.select input[type='radio'],
.feedback input[type='radio'] {
	display: none;
}
p {
	font-weight: 700;
	font-size: 20px;
	text-align: center;
	color: black;
	margin-bottom: 20px;
}
.meeting input[type='radio'] + label,
.select input[type='radio'] + label,
.feedback input[type='radio'] + label {
	display: inline-block;
	cursor: pointer;
	height: 39px;
	width: 180px;
	border: none;
	text-align: center;
	font-weight: 700;
	font-size: 18px;
	border-radius: 10px 10px 10px 10px;
	background-color: #fff;
	color: #888888;
	padding-top: 11px;
	text-align: center;
}

.meeting input[type='radio']:checked + label,
.select input[type='radio']:checked + label,
.feedback input[type='radio']:checked + label {
	background-color: #fbdcbf;
	color: black;
}
