{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<meta name="description" content="" />
		<meta name="author" content="" />

		<title>피어peer나다</title>

		<!-- Custom fonts for this template-->
		<link
			href="{% static 'vendor/fontawesome-free/css/all.min.css' %}"
			rel="stylesheet"
			type="text/css"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
			rel="stylesheet"
		/>

		<!-- Custom styles for this template-->
		<link href="{% static 'css/home.css' %}" rel="stylesheet" />
	</head>

	<body>
		<header>
			{% if user.is_authenticated %}
			<span class="loginName">{{user.username}}</span><span>님</span>
			{% else %}
			<span></span>
			{% endif %}
			<span></span>
			{% if user.is_authenticated %}
			<a class="headerlogin" href="{% url 'login' %}">로그아웃</a>
			{% else %}
			<a class="headerlogin" href="{% url 'login' %}">로그인</a>
			<a href="{% url 'signup' %}">회원가입</a>
			{% endif %}
		</header>
		<nav class="navbar">
			<div class="navbar_logo">
				<img src="../static/img/navLogo.svg" />
			</div>
			<ul class="navbar_menu">
				<li><a href="{% url 'home' %}">홈</a></li>
				<li><a href="">공모전</a></li>
				<li><a href="">게시판</a></li>
			</ul>
		</nav>
		<img class="mainImg" src="./static/img/home.svg" />

		<!-- Bootstrap core JavaScript-->
		<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
		<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

		<!-- Core plugin JavaScript-->
		<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

		<!-- Custom scripts for all pages-->
		<script src="{% static 'js/sb-admin-2.min.js' %}"></script>

		<!-- Page level plugins -->
		<script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

		<!-- Page level custom scripts -->
		<script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
		<script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>
	</body>
</html>
