<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/content.css" />
    <link rel="stylesheet" href="/static/css/homePage.css" />
    <link rel="stylesheet" href="/static/css/detail.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      {% if user.is_authenticated %}
      <span class="loginName">{{user.username}}님</span>
      {% else %}
      <span></span>
      {% endif %}
      <span></span>
      {% if user.is_authenticated %}
      <a class="headerlogin" href="{% url 'logout' %}">로그아웃</a>
      {% else %}
      <a class="headerlogin" href="{% url 'login' %}">로그인</a>
      <a href="{% url 'signup' %}">회원가입</a>
      {% endif %}
    </header>
    <nav class="navbar">
      <div class="navbar_logo">
        <img src="/static/img/navLogo.svg" />
      </div>
      <ul class="navbar_menu">
        <li><a href="{%url 'home'%}">홈</a></li>
        <li><a href="{% url 'poster' %}">공모전</a></li>
        <li><a href="{%url 'allcontent'%}">게시판</a></li>
      </ul>
    </nav>
    <div class="mainbox">
      <section class="profile">
        <div class="me">
          <img
            src="/static/img/who.png"
            style="border-radius: 50%; border: 3px solid #fb9749"
          />
          <div style="text-align: center"><b>김멋사</b></div>
        </div>
        <div class="mbti">
          <div style="padding-top: 15px; padding-left: 15px"><b>ISTJ</b></div>
          <div style="padding: 15px; color: #fb9749">
            #온라인<br />
            #직설적으로<br />
            #계획대로
          </div>
        </div>
        <div class="oneline">
          <div>한줄소개</div>
          <div class="my">아자자자자자자자자</div>
          <div>주요 활동</div>
          <div class="my">기획, 디자인, 개발, 데이터 블라블라</div>
        </div>
        <div class="portfolio">
          <div style="text-align: center"><b>포트폴리오</b></div>
          <img src="/static/img/portfolio.png" style="width: 5vw" />
        </div>
      </section>
      <section class="detail">
        <div class="title">기획 공모전 같이 참가하실 PEER 구합니다.</div>
        <div class="url">
          <img style="width: 10px" src="/static/img/url.png" />
          https://github.com/HERETHON1/PeerNada-Client
        </div>
        <div class="date">7/26 23:25</div>
        <div class="detailcontent">
          안녕하세요. 멋사 소재 멋사 관련 학과에 재학 중인 김멋사입니다. 다수의
          기획 공모전 관련 수상 경험이 있고, @@ 과 ## 툴 사용에 능합니다. 함께
          열심히 관련 공모전에 참여할 팀원을 구합니다. 댓글 남겨주시면 프로필
          확인 후 답글 달도록 하겠습니다.
        </div>
      </section>
      <section class="commentcontainer">
        <div style="color: #888888; margin: 5px; padding-left: 10px">
          댓글 <img style="width: 15px" src="/static/img/comment.png" />
        </div>
        <div class="comments">
          <div class="comment">
            <div style="display: flex">
              <img style="width: 20px" src="/static/img/who.png" />
              <div style="padding-left: 10px">이멋사</div>
            </div>
            <div style="margin: 5px 0">
              함께 하고 싶습니다. 프로필 확인해주세요 :)
            </div>
            <button class="commentbtn">답글</button>
          </div>
          <div class="comment">
            <div style="display: flex">
              <img style="width: 20px" src="/static/img/who.png" />
              <div style="padding-left: 10px">이멋사</div>
            </div>
            <div style="margin: 5px 0">
              함께 하고 싶습니다. 프로필 확인해주세요 :)
            </div>
            <button class="commentbtn">답글</button>
          </div>
          <div class="comment mine">
            <div style="display: flex">
              <img style="width: 20px" src="/static/img/who.png" />
              <div style="padding-left: 10px">나멋사</div>
            </div>
            <form id="addcomment">
              <div style="margin: 5px 0">
                <textarea
                  id="mycomment"
                  placeholder="댓글을 작성해주세요."
                ></textarea>
              </div>
              <button type="submit" id="addbtn">등록</button>
            </form>
          </div>
        </div>
      </section>
    </div>
    <script src="/static/js/detail.js"></script>
  </body>
</html>
