<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/static/css/loginPage.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>
	<body>
		<header>
			<a class="headerlogin" href="{%url 'login'%}">로그인</a>
			<a href="{%url 'signup'%}">회원가입</a>
		</header>
		<nav class="navbar">
			<div class="navbar_logo">
				<img src="/static/img/navLogo.svg" />
			</div>
			<ul class="navbar_menu">
				<li><a href="{%url 'home'%}">홈</a></li>
				<li><a href="">공모전</a></li>
				<li><a href="{%url 'allcontent'%}">게시판</a></li>
			</ul>
		</nav>
		<div class="loginForm">
      <img src="/static/img/navLogo.svg" /> 
			<form>
				<input class="idinput" placeholder="아이디" type="text"/>
				<input class="pwinput" placeholder="비밀번호" type="password"/>
				<button>로그인</button>
			</form>
      <div class="goregister"><p>계정이 없으신가요?<br><a class="gogo" href="{%url 'signup'%}">회원가입하러 가기</a></p></div>
			
		</div>
    <div class="successSignup">
	</body>
</html>
