<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/modal.css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="mainbox">
        <section class="profile">
            <div class="me">
              <img
                src="/static/img/who.png"
                style="border-radius: 50%; border: 3px solid #fb9749"
              />
              <div style="text-align: center"><b>김멋사</b></div>
            </div>
            <div class="mbti">
              <div style="padding-top: 15px; padding-left: 15px"><b>ISTJ</b></div>
              <div style="padding: 15px; color: #fb9749">
                #온라인<br />
                #직설적으로<br />
                #계획대로
              </div>
            </div>
            <div class="oneline">
              <div>한줄소개</div>
              <div class="my">아자자자자자자자자</div>
              <div>주요 활동</div>
              <div class="my">기획, 디자인, 개발, 데이터 블라블라</div>
            </div>
            <div class="portfolio">
              <div style="text-align: center"><b>포트폴리오</b></div>
              <img src="/static/img/portfolio.png" style="width: 5vw" />
            </div>
          </section>
    </div>
    
    <script src="/static/js/profilemodal.js"></script>
</body>
</html>