{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>피어peer나다</title>
    <!-- Custom fonts for this template-->
    <link
      href="{% static 'vendor/fontawesome-free/css/all.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />
    <!-- Custom styles for this template-->
    <link href="{% static 'css/register.css' %}" rel="stylesheet" />
  </head>

  <body>
    <header>
      <a href="{% url 'login' %}">로그인</a>
      <a class="headersign" href="{% url 'signup' %}">회원가입</a>
    </header>
    <nav class="navbar">
      <div class="navbar_logo"><img src="../static/img/navLogo.svg" /></div>
      <ul class="navbar_menu">
        <li><a href="{% url 'home' %}">홈</a></li>
        <li><a href="">공모전</a></li>
        <li><a href="">게시판</a></li>
      </ul>
    </nav>
    <div class="signupForm">
      <img src="../static/img/navLogo.svg" />
      <form class="user" method="POST">
        {% csrf_token %}
        <input class="nameinput" placeholder="이름" type="text" />

        <input
          type="text"
          name="username"
          class="idinput"
          id="exampleInputEmail"
          placeholder="아이디"
        />
        <input
          type="password"
          name="password"
          class="pwinput"
          id="exampleInputPassword"
          placeholder="비밀번호"
        />
        <input
          type="password"
          name="repeat"
          class="pwCinput"
          id="exampleRepeatPassword"
          placeholder="비밀번호확인"
        />
        <input class="emailinput" placeholder="이메일" type="email" />
        <input
          type="submit"
          class="registerbtn"
          href="{% url 'signup' %}"
          value="회원가입"
        />
      </form>
      <div class="goregister">
        <p>
          이미 계정이 있으신가요?<br /><a class="gogo" href="{% url 'login' %}"
            >로그인하러 가기</a
          >
        </p>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
  </body>
</html>
